
<div class="container" *ngIf="loading">
  <h5 style="text-align:center">Loading...</h5>
</div>
<div class="container" *ngIf="!loading">
<br>
<h5 style="text-align: center">Stock Market Prices ( {{priceCodeName}} )</h5>
<br>
  <div class="row">
    <div class="col-md-1">
      <p>
      <button type="button" class="btn btn-secondary" (click)="refresh('MSFT')">MSFT</button>
      </p>
      <p>
      <button type="button" class="btn btn-secondary" (click)="refresh('AAPL')">AAPL</button>
    </p>
    <p>
      <button type="button" class="btn btn-secondary" (click)="refresh('NFLX')">NFLX</button>
    </p>
    <p>
      <button type="button" class="btn btn-secondary" (click)="refresh('FB')">FB</button>
    </p>
    <p>
      <button type="button" class="btn btn-secondary" (click)="refresh('AMZN')">AMZN</button>
    </p>
    </div>

    <div class="col-md-11">
<div *ngIf="errorMessage">
  {{errorMessage}}
</div>

  <div id="chart" *ngIf="prices">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
    </div>


  </div>
  
 
</div>
